body
{
    flex-direction: column;
    display: flex;

}
header
{flex-direction: column;
    display: flex;

}
main
{flex-direction: column;
    display: flex;


}
footer
{flex-direction: column;
display: flex;
}

main
{
    flex-direction: row;
    display: flex;
    height: auto;
    width: auto; 
}
article
{
    width: 2/3;
    flex: 2;
    overflow-y: auto;
    background-color: aqua;
    padding: 0%;
}

aside
{
    width: 1/3;
    flex: 1;
    overflow-y: auto;

}
